html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page {
    padding: 1rem;
    height: 100%;
}

header {
    padding: 1em;
    background-color: #fc0;
}

nav {
    margin: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    color: black;
}

nav li a {
    color: inherit;
}

nav li.active {
    font-weight: bold;
    color: red;
}

.main {
    flex: 1;
}

footer {
    background-color: #aaa;
    padding: 2em;
    text-align: center;
}
